@{
    ViewBag.Title = "Contact";
}


<address>
    zaki Eldsoque<br />
   Senior software deveoper<br />
    <abbr title="Phone">P:</abbr>
    00966540512950
</address>

<address>
    <strong>E-mail:</strong>   <a href="zaki.developer@gmail.com">zaki.developer@gmail.com</a><br />
    <strong>linked in:</strong> <a href="https://www.linkedin.com/in/zakieldsoque/">zakieldsoque</a>
</address>