
@{
    ViewBag.Title = "Items";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div ng-app="ItemsApp">
    <div ng-controller="ItemsCtrl">

        <div id="gridContainer" dx-data-grid="dataGridOptions" dx-item-alias="Items">
            <div data-options="dxTemplate:{ name:'cellTemplate' }">
                <img ng-src="{{'data:image/png;base64,'+Items.value}}" style=" height: 50px; display: block;" />
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/items")
