@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>
@{
    ViewBag.Title = "Add Role";
}
<br />
<table class="table-bordered table-striped table"  >
    <tr >
        <td align="center" colspan="2">
            <h2> Create User Roles</h2>
        </td>

    </tr>

    <tr>
        <td>
            <table id="tbrole" class="table-bordered table-striped table">

                @foreach (var item in Model)
                {
                    <tr>
                        <td style="width:100%; border:dotted 1px; color:black">
                            @item.Name
                        </td>
                    </tr>}
            </table>
        </td>
        <td align="center" style="color:#FFFFFF;padding-right:10px;">


            <h3>   @Html.ActionLink("Click to Create New Role", "Create", "Role") </h3>
        </td>
    </tr>
</table>




