@{
    ViewBag.Title = "Forgot Password Confirmation";
}


<div>
    <p style="text-align:center;padding-top:50px;color:darkseagreen;font-weight:bold">
        Please check your email to reset your password.
    </p>
</div>
	
