@{
    ViewBag.Title = "Reset password confirmation";
}

<div style="text-align:center;padding-top:50px;color:darkseagreen;font-weight:bold">
    <p>
        Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
